.game-area {
  position: relative;
  margin: 50px auto;

  width: 1000px;
  max-width: 100%;
  height: 800px;
  background-color: greenyellow;
  border: 5px solid #000000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.game-content {
  position: relative;
  margin: 50px auto;
  background-color: gold;
  text-align: center;
  width: 900px;
  max-width: 100%;
  height: auto;
  font-size: 30px;
}
.snake-pos {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: brown;
  border: 1px solid white;
}
.buttons {
  text-align: center;
  margin: 10px;
}

.button1 {
  background-color: #27d810;
  cursor: pointer;
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 30px;
} /* Green */
.button2 {
  background-color: #2d40e7;
  cursor: pointer;
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 30px;
} /* Blue */
.button3 {
  background-color: #f51000;
  cursor: pointer;
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 30px;
}
.Worm {
  transition: transform 0.2s;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
}

.Worm:hover {
  size: 1.2em;
}

.snake-food {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: black;
  border: 1px solid white;
}
