.main-body {
  background-image: url('../images-game/GameImage.jpg');
  height: 900px;
  /* margin: 50px; */
}
button {
  outline: none;
  border-radius: 0.7em;
  border: 2px solid transparent;
  cursor: pointer;
  padding: 0.8em 0.6em;
  font-weight: 600;
}

.spbutton1 {
  background-color: #4bd3d3;

  height: 70px;
  width: 70px;
  border-radius: 0 70px;
  border: 1px solid white;
  font-weight: 1000;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0 0 4px 0 black;
}

.submit1 {
  font-size: x-large;
  width: 500px;
}

.question1 {
  background-color: #333333;
  color: white;
  font-size: smaller;
  font-weight: 200;
  position: absolute;
  margin-top: 5%;
  margin-left: 25%;
  padding: 1em;
  width: 50%;
  box-shadow: 0 0 4px 0 black;
  border-radius: 5px;
  text-align: top;
  padding: 5px;
}

.Option1 {
  background-color: #f5deb3;
  width: 50%;
  text-align: center;
  padding: 5px;
  color: black;
  border: 0.2px solid rgb(168, 168, 168);
  border-radius: 3px;
  font-size: x-large;
  font-weight: bolder;
  cursor: pointer;
  margin: 0 3%;
}

.Option1:hover {
  background-color: chocolate;
}

.block {
  display: flex;
  justify-content: space-evenly;
  column-gap: 10px;
  padding: 0.2em;
}

.buttons {
  display: flex;
  justify-content: space-around;
  justify-items: center;
  margin: 1em 0;
}

.quesionHead1 {
  font-weight: 700;
  font-size: xx-large;
  color: #683331;
  padding: 10px;
}

.bgHead {
  background-color: wheat;
  width: auto;
  padding: 0.3em;
  margin: 3%;
  margin-bottom: 2%;
  border-radius: 3px;
}

.message {
  background-color: #d9534f;
  border: 2px solid #b63732;
  border-radius: 5 px;
  margin: 5px auto;
  padding: 0.3em;
  width: 50%;
  text-align: center;
  color: white;
}

.score {
  background-color: transparent;
  font-size: 2em;
  width: fit-content;
  text-align: center;
  padding: 5px;
  padding-right: 5px;
  padding-left: 5px;
  margin-left: 43%;
  color: whitesmoke;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 0 0 4px 0 black;
}
