.container-HomeMeme {
  margin-top: 3em;
  position: relative;
  width: 100%;
}
.header-HomeMeme {
  font-size: 5rem;
  text-decoration: underline;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-left: 10vh;
  margin-bottom: 5vh;
}
.sideBySide-HomeMeme {
  display: flex;
  margin: auto;
  width: 90%;
  justify-content: center;
  align-items: center;
}
.image-HomeMeme {
  width: 1000rem;
  padding: 1em;
}
.text-HomeMeme {
  padding: 2em 1em;
  font-size: x-large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
