.container-HomeMeme {
  margin-top: 3em;
  position: relative;
  width: 100%;
}
.header-HomeMeme {
  font-size: 5rem;
  text-decoration: underline;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-left: 10vh;
  margin-bottom: 5vh;
}
.sideBySide-HomeMeme {
  display: flex;
  margin: auto;
  width: 90%;
  justify-content: center;
  align-items: center;
}
.image-HomeMeme {
  width: 600px;
  padding: 1em;
}
.text-HomeMeme {
  padding: 2em 1em;
  font-size: x-large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
@media only screen and (max-width: 1200px) {
  .container-HomeMeme{
    margin-top: 0em;
  }
  .header-HomeMeme {
    font-size: 3rem;
    margin-left: 2vh;
    margin-bottom: 1vh;
  }
  .sideBySide-HomeMeme {
    width: 100%;
    vertical-align: top;
    display: inline-block;
  }
  .image-HomeMeme {
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    width: 75%;
    padding: 0em;
  }
  .text-HomeMeme {
    font-size: larger;
    display: block;
    padding: 1em 2em;
    text-align: justify;
  }
}

@media only screen and (max-width: 480px) {
  .container-HomeMeme{
    margin-top: 0em;
  }
  .header-HomeMeme {
    font-size: 2rem;
    margin-left: 2vh;
    margin-bottom: 1vh;
  }
  .sideBySide-HomeMeme {
    width: 100%;
    vertical-align: top;
    display: inline-block;
  }
  .image-HomeMeme {
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    width: 75%;
    padding: 0em;
  }
  .text-HomeMeme {
    font-size: small;
    display: block;
    padding: 1em 2em;
    text-align: justify;
  }
}
