.card-of-result {
  background-color: cyan;
}
.suggest {
  color: black;
  font: oblique;
}

.choose1 {
  color: black;
  font-size: large;
  font-weight: bold;
  text-decoration: solid;
  margin-right: 20px;
  margin-top: 5px;
  margin-bottom: 30px;
}
.choose2 {
  color: black;
  font-size: large;
  font-weight: bold;
  text-decoration: solid;
  margin-right: 20px;
  margin-top: 20px;
}
