.container-BlogsList {
    margin-top: 1em;
    font-size: large;
}
.heading-BlogList {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: 400;
    color: rgb(1, 45, 59);
    margin-bottom: 1%;
}
.spinner-BlogList {
    display: flex;
    align-items: center;
    justify-content: center;
}
