.container-PreviewGame {
  margin-top: 3em;
  position: relative;
  width: 100%;
}
.header-PreviewGame {
  font-size: 5rem;
  text-decoration: underline;
}
.sideBySide-PreviewGame {
  display: flex;
  margin: auto;
  width: 90%;
  justify-content: center;
  align-items: center;
}
.image-PreviewGame {
  width: 1000rem;

  padding: 1em;
}
.text-PreviewGame {
  font-size: x-large;
  padding: 2em 1em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
