.container-SoilPollution {
  margin-top: 3em;
  position: relative;
  width: 100%;
}
.header-SoilPollution {
  font-size: 5rem;
  text-decoration: underline;
}
.sideBySide-SoilPollution {
  display: flex;
  margin: auto;
  width: 90%;
  justify-content: center;
  align-items: center;
}
.image-SoilPollution {
  width: 55%;

  padding: 1em;
}
.text-SoilPollution {
  padding: 2em 1em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
