.container-SoilPollution {
  margin-top: 3em;
  position: relative;
  width: 100%;
}
.header-SoilPollution {
  font-size: 5rem;
  text-decoration: underline;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-left: 10vh;
  margin-bottom: 5vh;
}
.sideBySide-SoilPollution {
  display: flex;
  margin: auto;
  width: 90%;
  justify-content: center;
  align-items: center;
}
.image-SoilPollution {
  width: 600px;

  padding: 1em;
}
.text-SoilPollution {
  font-size: x-large;
  padding: 2em 1em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
<<<<<<< HEAD
@media only screen and(max-width:1366px)
{
  .container-SoilPollution {
    margin-top: 3em;
    position: relative;
    width: 100%;
  }
  .header-SoilPollution {
    font-size: 5rem;
    text-decoration: underline;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 10vh;
    margin-bottom: 5vh;
  }
  .sideBySide-SoilPollution {
    display: flex;
    margin: auto;
    width: 90%;
    justify-content: center;
    align-items: center;
  }
  .image-SoilPollution {
    width: 1000rem;
    padding: 1em;
  }
  .text-SoilPollution {
    font-size: x-large;
    padding: 2em 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
      'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
}
=======
@media only screen and (max-width: 1200px) {
  .header-SoilPollution {
    font-size: 3rem;
    margin-left: 2vh;
    margin-bottom: 1vh;
  }
  .sideBySide-SoilPollution {
    width: 100%;
    vertical-align: top;
    display: inline-block;
  }
  .image-SoilPollution {
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    width: 75%;
    padding: 0em;
  }
  .text-SoilPollution {
    font-size: larger;
    display: block;
    padding: 1em 2em;
    text-align: justify;
  }
}

@media only screen and (max-width: 480px) {
  .header-SoilPollution {
    font-size: 2rem;
    margin-left: 2vh;
    margin-bottom: 1vh;
  }
  .sideBySide-SoilPollution {
    width: 100%;
    vertical-align: top;
    display: inline-block;
  }
  .image-SoilPollution {
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    width: 75%;
    padding: 0em;
  }
  .text-SoilPollution {
    font-size: small;
    display: block;
    padding: 1em 2em;
    text-align: justify;
  }
}
>>>>>>> c66652edf8697c61b2074ee6057847bc3832f531
